<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798714188657-rd2894ucj6o27f2s47v1019i3o5silc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798714188657-rd2894ucj6o27f2s47v1019i3o5silc4</string>
	<key>API_KEY</key>
	<string>AIzaSyAga29SlvpteJaHpJQH72sE9JQ68v7Fn1c</string>
	<key>GCM_SENDER_ID</key>
	<string>798714188657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.southcoders.trippy-app</string>
	<key>PROJECT_ID</key>
	<string>trippy-holiday-planner</string>
	<key>STORAGE_BUCKET</key>
	<string>trippy-holiday-planner.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798714188657:ios:0713422a0ab57b90b7dcd0</string>
</dict>
</plist>